* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-color1: rgb(230, 230, 230);
  --background-color2: rgb(255, 255, 255);
  --background-color3: #DE752C;
}

.app{
  margin: auto;
  width: 80%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
  width: 100%;
  margin: auto;
  height: 100%;
}

.navBar{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--background-color2);
    padding: 1rem;
  }

.navElement{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* flex-grow: 1; */
  margin-right: 3%;
}

  .navLogo{
    height: 7rem;
    border-radius: 50%;
    margin-right: auto;
    -webkit-box-shadow: 0px 19px 33px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 19px 33px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 19px 33px -17px rgba(0,0,0,0.75);
  }

  .navLeft{
    margin-right: auto;
  }

  .img-div{
    margin-top: 1rem;
    height: 50vh;
    background-color: var(--background-color3);
  }

  .info-text{
    margin-top: 3rem;
    text-align: center;
  }

  .box-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-evenly;
    column-gap: 10px;
    margin: 3rem 0 5rem 0;
  }

  .box-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    height: 10rem;
    width: 15rem;
  }

  .box-item-1{
    height: 50%;
    background-color: aqua;
  }
  .box-item-1{
    height: 50%;
    background-color:blueviolet;
  }

  .img-div{
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  #sq-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
  }