* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-color1: rgb(230, 230, 230);
  --background-color2: rgb(255, 255, 255);
  --background-color3: #DE752C;
  --background-color4: rgb(196, 196, 196);
  --background-color5: rgba(214, 214, 214, 0.543);
  --box-background: #F3F1E4;
}

.app{
  /* margin: auto; */
  /* width: 100%;
  height: 100%; */
  /* background-color: var(--background-color2); */
  display: flex;
  justify-content: center;
  margin-top: 6.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}

.navBar{
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--background-color2);
    padding-top: 1rem;
    padding-left: 1rem;
    z-index: 1000;
    padding-bottom: 0.5rem;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .nav-link:hover{
    color: var(--background-color3) !important;
    text-decoration: underline solid var(--background-color3);
    transition: none;
  }

  .nav-item{
    margin-right: 2rem;
  }

.navElement{
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.navElement:hover{
  color: var(--background-color3);
}

  .navLogo{
    height: 5rem;
    border-radius: 50%;
    margin-left: 1rem;
    -webkit-box-shadow: 0px 5px 33px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 33px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 33px -17px rgba(0,0,0,0.75);
    z-index: 99;
  }

  .navLeft{
    margin-right: auto;
  }



  #nav-button{
    color: black;
    background-color: white;
    border-style: none;
    padding: 0;
  }

  #nav-button:hover{
    color: var(--background-color3);
  }

  .img-div{
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .img-text{
    position: absolute;
    width: 20%;
    left: 5%;
    top: 15%;
    margin-left: 1rem;
    font-size: 1.4rem;
  }

  .sq-banner{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 35rem;
    object-position: 70%;
  }

  #sq-banner2{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    mask-image: linear-gradient(to left,black 55%, transparent 100%);
  }

  .img-div{
    margin-top: 1rem;
    height: 55vh;
    width: 100%;
    margin-bottom: 2rem;
  }

  .hero-text{
    display: flex;
    position:absolute;
    text-align: center;
    left: 12%;
    color: white;
    top: 8rem;
    z-index: 100;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

  .hero-text:h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
  }

  .info-container{
    width: 100%;
    background-color: var(--background-color3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    padding: 3rem;
    gap: 2rem;
    height: 15rem;
  }

  .info-text{
    display: flex;
    justify-content: center;
    text-align: left;
    width: 60%;
    flex-wrap: wrap;
  }

  .white-text{
    color: white;
  }

  .hero-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    word-spacing: 0.5rem;
    flex-direction: column;
    font-size: 1.5rem;
    background-color: var(--background-color5);
    margin-bottom: 2rem;
  }

  .hero-h2{
    margin-top: 1rem;
  }

  .line-div{
    border-bottom: var(--background-color3) solid;
    margin-top: 1rem;
  }

  .short-line-div{
    width: 80%;
    border-bottom: var(--background-color3) solid;
    margin-top: 1rem;
  }

  .box-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-evenly;
    column-gap: 10px;
    margin: 3rem 0 5rem 0;
  }

  .box-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 15rem;
    width: 15rem;
    margin-top: 1rem;
    flex-direction: column;
    overflow: hidden;
  }

  .box-item-1{
    height: 70%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
  }
  .box-item-2{
    height: 30%;
    background-color: var(--box-background);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #box-1{
    background-image: url("./images/box-items/box-1.jpg");
  }

  #box-2{
    background-image: url("./images/box-items/box-2.jpg");
  }

  #box-3{
    background-image: url("./images/box-items/box-3.jpg");
  }

  .footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    background-color: var(--background-color1);
  }

  .footer-nav{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }

  .logo-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: inherit;
  }

  .footer-logo{
    height: 5rem;
    width: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .squirrel-footer{
    height: 5rem;
    width: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    -webkit-box-shadow: 0px 19px 33px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 19px 33px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 19px 33px -17px rgba(0,0,0,0.75);
  }

  #footer-1{
    background-image: url("./images/footer-imgs/NationalTrustUKLogo.svg.webp");
  }

  #footer-2{
    background-image: url("./images/footer-imgs/Ulster-Wildlife\ Logo-Portrait\ Nature.png");
  }

  #bottom-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    /* background-color: inherit; */
    background-color: var(--background-color1);
  }

  .footer-nav-column{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }

  a:link{
    text-decoration: none;
    color: black;
  }

  a:visited{
    text-decoration: none;
    color: black;
  }

  a:active{
    text-decoration: none;
  }

  .footer-link:hover{
  color: var(--background-color3);
  }

  .title{
    text-align: start;
    width: 100%;
  }

  .sightings{
    border: black;
    /* background-color: var(--background-color5); */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 2rem 0;
    align-items: center;
    justify-content: flex-start;
  }

  .picture-video-div{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
  }

  .sightings-1{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background-color5);
    padding: 1rem 0 1rem 0;
    border: none;
    font-size: 1rem;
    flex-wrap: wrap;
  }

  .selected{
    background-color: var(--background-color3);
  }

  iframe{
    width: 100%;
    height: 70vh;
  }

  .content-space{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 0 1rem 0;
  }

  .gallery-picture{
    width: 20rem;
    height: 15rem;
    object-fit: cover;
  }

  .about-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .container-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .container-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .sq-img{
    width: 60%;
    height: calc(100% / 1);
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .sq-text{
    font-size: 1.4rem;
  }

  .about-text{
    padding: 0 4rem 0 4rem;
  }

  .center-text{
    text-align: center;
    font-size: 1.5rem;
  }

  .green-background{
    background-color: var(--box-background);
  }

  .h3-title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }

  .underline{
    border-bottom: var(--background-color3);
  }

  .bottom-spacer{
    margin-bottom: 3rem;
  }

  .bottom-spacer2{
    margin-bottom: 1rem;
  }

  .events{
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }

  .events-title{
      width: 70%; 
      padding: 1rem;
    background-color: var(--background-color1);
  }

  .upcoming-events{
    background-color: var(--background-color3);
    width: 30%;
    padding: 1rem;
    color: white;
  }

  .underline{
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  .video-thumbnail{
    width: 24rem;
    height: 20rem;
  }

  .video-library{
    flex: 0 1 auto;
    width: 100%;
    display: flex;
    flex-direction:row;
    gap: 1rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .title-medium{
    font-size: 1.3rem;
  }

  .carousel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  .carousel-item{
    height: 60%;
  }

@media screen and (max-width: 1115px){
  .img-text {
    width: 30%;
    left: 0%;
    top: 10%;
  }

  .sq-text{
    font-size: 1rem;
  }
}

@media screen and (max-width: 1115px){
  .img-text {
    position: absolute;
    width: 30%;
    left: 0%;
    top: 0%;
    margin-left: 1rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 815px){
  .footer-nav{
    flex-direction: column;
    align-items:center;
    justify-content:center;
  }

  .footer-nav-column{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

}

@media screen and (max-width: 770px) {

  .hero-text{
    top: 10rem;
}

.info-container{
  flex-wrap: wrap;
  height: auto;
  padding: 2rem;
}

.info-text{
  display: flex;
  justify-content: center;
  text-align: left;
  width: 85%;
  flex-wrap: wrap;
}

.about-container{
  flex-direction: column;
  margin-bottom: 0;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}


.reverse-column{
  flex-direction: column-reverse;
}


.about-text{
  padding: 0;
}

.container-right{
  width: 75%;
}

.container-left{
  width: 85%;
}

.events{
  flex-direction: column-reverse;
}

.events-title{
    width: 100%; 
}

.upcoming-events{
  width: 100%;
}

.sq-img{
  width: 100%;
  aspect-ratio: 2/2;
  object-fit: cover;
}

}



